<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Feegle　<?php echo $err_title ?>エラー</title>
	<meta name="description" content="">
	<meta name="author" content="">
<?php @include("common/jquery.html"); ?>
<body>

<div data-role="page" id="page1" data-theme="c">
	<div data-role="header" data-theme="d">
		<h1><?php echo $err_title ?>エラー</h1>
		<a href="" data-rel="back">戻る</a>
	</div><!-- /header -->
	
	<div data-role="content" data-theme="d">
		<p><?php echo $msg_info ?></p>
	</div><!-- /content -->
	
	<div data-role="footer" data-theme="d">
<?php @include("common/footer.html"); ?>
	</div><!-- /footer -->
</div><!-- /page1 -->

</body>
</html>
