<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>feegle　ログイン</title>
	<meta name="description" content="">
	<meta name="author" content="">
<?php @include("common/jquery.html"); ?>
</head>
<body>

<div data-role="page" id="page1" data-theme="c" data-add-back-btn="true">
	<div data-role="header" data-theme="d">
		<img src="images/logo.png">
<?php @include("common/header.html"); ?>
	</div><!-- /header -->
	
	<div data-role="content" data-theme="d">
		<p><?php echo $msg_info ?></p>
		<form id="loginform" method="post" action="" class="ui-body ui-body-c"><br>
			<div data-role="fieldcontain">
				<label for="user_id">ログインID:</label>
				<input type="text" name="user_id" id="user_id" autofocus required value="" maxlength="100" />
			</div><!-- /fieldcontain -->
			<div data-role="fieldcontain">
				<label for="password">パスワード:</label>
				<input type="password" name="password" id="password" pattern="^[0-9A-Za-z]+$" required value="" maxlength="16" />
			</div><!-- /fieldcontain -->
			<input type="hidden" name="link" value="<?php echo $p_link ?>" />
			<input type="submit" name="login" class="button_small grbtn" id="login" value="ログイン" />
		</form>
		<input type="button" name="regist" class="button_small grbtn" id="regist" value="新規登録" onclick="location.href='registchk.php'">
	</div><!-- /content -->
	
	<div data-role="footer" data-theme="d">
<?php @include("common/footer.html"); ?>
	</div><!-- /footer -->
</div><!-- /page1 -->

</body>
</html>
