<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>feegle　ログイン</title>
	<meta name="description" content="">
	<meta name="author" content="">
<?php @include("common/jquery.html"); ?>
</head>
<body>

<div data-role="page" id="page1" data-theme="c" data-add-back-btn="true">
<?php @include("common/header.html"); ?>
	
	<div data-role="content" data-theme="d">
		<p>ログイン</p>
		<form id="loginform" method="post" action="" class="ui-body ui-body-c"><br>
			<?php echo $msg_info ?>
			<div data-role="fieldcontain">
				<label for="login_id">メールアドレス<br>（ログインID）</label>
				<input type="text" name="login_id" id="login_id" autofocus required value="<?php echo $p_login_id ?>" maxlength="100" />
			</div><!-- /fieldcontain -->
			<div data-role="fieldcontain">
				<label for="password">パスワード</label>
				<input type="password" name="password" id="password" pattern="^[0-9A-Za-z]+$" required value="" maxlength="24" />
			</div><!-- /fieldcontain -->
			<input type="hidden" name="link" value="<?php echo $p_link ?>" />
			<input type="submit" name="login" class="button_small grbtn" id="login" value="ログイン" />
		</form>
		<a rel="external" href="repasswd.php" data-role="button">パスワードがわからない</a>
		<a rel="external" href="registchk.php" data-role="button">新規登録</a>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page1 -->

</body>
</html>
