<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Feegle</title>
	<meta name="description" content="Feegle">
<?php @include("common/jquery.html"); ?>
</head>
<body>

<div data-role="page" id="page1" data-theme="c">
	<div data-role="header" data-theme="d">
		<img src="images/logo.png">
<?php @include("common/header.html"); ?>
	</div><!-- /header -->
	
	<div data-role="content" data-theme="c">
		<p>マイページ</p>
		<br>
		<ul data-role="listview">
			<li></li> 
		</ul>
		<br>
	</div><!-- /content -->
	
	<div data-role="footer" data-theme="d">
<?php @include("common/footer.html"); ?>
	</div><!-- /footer -->
</div><!-- /page1 -->

<div data-role="page" id="page2" data-theme="c">
	<div data-role="header" data-theme="d">
		<h1></h1>
	</div><!-- /header -->
	
	<div data-role="content" data-theme="c">
		<h4>
		</h4>
	</div><!-- /content -->
	
	<div data-role="footer" data-theme="d">
<?php @include("common/footer.html"); ?>
	</div><!-- /footer -->
</div><!-- /page2 -->

<div data-role="page" id="page3" data-theme="c">
	<div data-role="header" data-theme="d">
		<h1></h1>
		<a href="#page1" data-rel="back" data-icon="arrow-l">Back</a>
	</div><!-- /header -->
	
	<div data-role="content" data-theme="c">
		<h4>
		</h4>
	</div><!-- /content -->
	
	<div data-role="footer" data-theme="d">
<?php @include("common/footer.html"); ?>
	</div><!-- /footer -->
</div><!-- /page3 -->

<div data-role="page" id="page4" data-theme="c">
	<div data-role="header" data-theme="d">
		<h1></h1>
		<a href="#page1" data-rel="back" data-icon="arrow-l">Back</a>
	</div><!-- /header -->
	
	<div data-role="content" data-theme="c">
		<h4>
		</h4>
	</div><!-- /content -->
	
	<div data-role="footer" data-theme="d">
<?php @include("common/footer.html"); ?>
	</div><!-- /footer -->
</div><!-- /page4 -->

<div data-role="page" id="page5" data-theme="c">
	<div data-role="header" data-theme="d">
		<h1></h1>
		<a href="#page1" data-rel="back" data-icon="arrow-l">Back</a>
	</div><!-- /header -->
	
	<div data-role="content" data-theme="c">
		<h4>
		</h4>
	</div><!-- /content -->
	
	<div data-role="footer" data-theme="d">
<?php @include("common/footer.html"); ?>
	</div><!-- /footer -->
</div><!-- /page5 -->

<div data-role="page" id="page6" data-theme="c">
	<div data-role="header" data-theme="d">
		<h1></h1>
		<a href="#page1" data-rel="back" data-icon="arrow-l">Back</a>
	</div><!-- /header -->
	
	<div data-role="content" data-theme="c">
		<h4>
		</h4>
	</div><!-- /content -->
	
	<div data-role="footer" data-theme="d">
<?php @include("common/footer.html"); ?>
	</div><!-- /footer -->
</div><!-- /page6 -->

</body>
</html>
