<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>feegle｜会員情報更新</title>
	<meta name="description" content="">
	<meta name="author" content="">
<?php @include("common/jquery.html"); ?>
</head>
<body>

<div data-role="page" id="page1" data-theme="c">
<?php @include("common/header.html"); ?>
	<a href="" data-rel="back">戻る</a>
	
	<div data-role="content" data-theme="d">
		<p>更新内容確認</p>
		<p>
<?php echo $chk_msg ?>
		</p>
		<form id="loginform" method="post" action="" data-ajax="false">
			<input type="hidden" name="user_id" value="<?php echo $p_user_id ?>">
			<input type="hidden" name="password" value="<?php echo $p_password ?>">
			<input type="hidden" name="nickname" value="<?php echo $p_nickname ?>">
			<input type="hidden" name="birth" value="<?php echo $p_birth ?>">
			<input type="hidden" name="gender" value="<?php echo $p_gender ?>">
			<input type="hidden" name="selectjob" value="<?php echo $p_selectjob ?>">
			<input type="submit" name="regist" value="更新">
    	</form>
    </div><!--end content-->
	
	<div data-role="footer" data-theme="d">
<?php @include("common/footer.html"); ?>
	</div><!-- /footer -->
</div><!-- /page1 -->

<div data-role="page" id="page2" data-theme="c" data-add-back-btn="false">
<?php @include("common/header.html"); ?>
	
	<div data-role="content" data-theme="d">
		<p>
		会員情報更新が完了しました。<br>
		ログイン後、サービスをご利用下さい。
		</p>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page2 -->

</body>
</html>
