<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>feegle | パスワード再発行</title>
	<meta name="description" content="">
	<meta name="author" content="">
<?php @include("common/jquery.html"); ?>
</head>
<body>

<div data-role="page" id="page1" data-theme="c" data-add-back-btn="false">
<?php @include("common/header.html"); ?>
	
	<div data-role="content" data-theme="d">
		<p>パスワード再発行</p>
		<form name="passform" id="passform" method="post" action="" data-ajax="false" class="ui-body ui-body-c">
			<?php echo $msg_info ?>
			<div data-role="fieldcontain">
				<label for="login_id">メールアドレス<br>（ログインID）</label>
				<input type="email" name="login_id" id="login_id" autofocus required maxlength="100" placeholder="メールアドレスを入力して下さい" style="ime-mode: disabled;">
			</div><!-- /fieldcontain -->
			<div data-role="fieldcontain">
				<label for="birth">生年月日</label>
				<input type="date" name="birth" id="birth" required value="<?php echo $p_birth ?>">
			</div><!-- /fieldcontain -->
			<input type="submit" name="mailchk" id="mailchk" class="button_small grbtn" value="パスワード再発行">
		</form>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page1 -->

<div data-role="page" id="page2" data-theme="c" data-add-back-btn="false">
<?php @include("common/header.html"); ?>
	
	<div data-role="content" data-theme="d">
		<p>
    パスワード再発行のリクエストを受け付けました。<br /><br />
    登録したメールアドレスへ、パスワード再発行のご案内を送りました。<br />
		</p>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page2 -->

</body>
</html>
