<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>feegle</title>
	<meta name="description" content="Feegle">
<?php @include("common/jquery.html"); ?>
	<script type="text/javascript" src="scripts/flipsnap.js"></script>
	<script>
	$(function(){
		Flipsnap('.flipsnap');
	})
	</script>
	
	<style>
	.viewport {
	    width: 535px;
	    overflow: hidden;
	    margin: 0 auto;
	}
	.flipsnap {
	    width: 1800px; /* 180px(item width) * 10(item count) */
	}
	.item {
	    float: left;
	    width: 175px;
	    font-size: 50px;
	    text-align: center;
	    padding: 5px 0;
	    background: #ffffff;
	    border: 1px solid #ffc753;
	    cursor: pointer;
	}
	</style>
</head>
<body>

<div data-role="page" id="page1" data-theme="c">
<?php @include("common/header.html"); ?>
	
	<div data-role="content" data-theme="c">
		<p>本を検索</p>
		<div data-role="fieldcontain">
			<p>今の気分で検索:</p>
			<div class="viewport">
    			<div class="flipsnap">
<?php echo $html_image ?>
    			</div>
			</div>
		</div><!-- /fieldcontain -->
		<div data-role="fieldcontain">
			<form id="loginform" method="post" action="" class="ui-body ui-body-c"><br>
				<label for="keyword">キーワードで検索:</label>
				<input type="text" name="wd" id="wd" value="" maxlength="100" /><br /><br />
				<input type="hidden" name="wk" id="wk" value="w" />
				<button type="submit" name="btn_keyword" id="btn_keyword">検索</button>
			</form>
		</div ><!-- /fieldcontain -->
		<!-- <a rel="external" href="osusume.php" data-role="button" class="">おすすめ本登録</a> -->
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page1 -->

<div data-role="page" id="page2" data-theme="c">
<?php @include("common/header.html"); ?>
	
	<div data-role="content" data-theme="d">
		<p><?php echo $msg_info ?></p>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page2 -->

</body>
</html>
