<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Feegle</title>
	<meta name="description" content="Feegle">
<?php @include("common/jquery.html"); ?>
</head>
<body>

<div data-role="page" id="page1" data-theme="c">
	<div data-role="header" data-theme="d">
		<img src="images/logo.png">
<?php @include("common/header.html"); ?>
	</div><!-- /header -->
	
	<div data-role="content" data-theme="c">
		<p>本を検索</p>
		<div data-role="fieldcontain">
			<p>今の気分で検索:</p>
			<a href="sbook_feeling.php"><img src="images/xxx.gif"></a>
		</div><!-- /fieldcontain -->
		<div data-role="fieldcontain">
			<form id="loginform" method="post" action="" class="ui-body ui-body-c"><br>
				<label for="keyword">キーワードで検索:</label>
				<input type="text" name="keyword" id="keyword" value="" maxlength="100" /><br /><br />
				<button type="submit" name="btn_keyword" id="btn_keyword">検索</button>
			</form>
		</div ><!-- /fieldcontain -->
		<!-- <a rel="external" href="osusume.php" data-role="button" class="">おすすめ本登録</a> -->
	</div><!-- /content -->
	
	<div data-role="footer" data-theme="d">
<?php @include("common/footer.html"); ?>
	</div><!-- /footer -->
</div><!-- /page1 -->

</body>
</html>
