<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Feegle</title>
	<meta name="description" content="Feegle">
<?php @include("common/jquery.html"); ?>
</head>
<body>

<div data-role="page" id="page1" data-theme="c">
<?php @include("common/header.html"); ?>
	
	<div data-role="content" data-theme="c">
		<p>本を検索</p>
		<div data-role="fieldcontain">
			<p>今の気分で検索:</p>
			<a href="sbook_feeling.php"><img src="images/xxx.gif"></a>
		</div><!-- /fieldcontain -->
		<div data-role="fieldcontain">
			<form id="loginform" method="post" action="" class="ui-body ui-body-c"><br>
				<label for="keyword">キーワードで検索:</label>
				<input type="text" name="keyword" id="keyword" value="" maxlength="100" /><br /><br />
				<button type="submit" name="btn_keyword" id="btn_keyword">検索</button>
			</form>
		</div ><!-- /fieldcontain -->
		<!-- <a rel="external" href="osusume.php" data-role="button" class="">おすすめ本登録</a> -->
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page1 -->

<div data-role="page" id="page2" data-theme="c">
<?php @include("common/header.html"); ?>
	
	<div data-role="content" data-theme="c">
		<p>キーワード：<?php $p_word ?></p>
		<div class="ui-grid-d">
			<div class="ui-block-a">
				<a href="<?php echo $wk_linkurl ?>">
				<img src="<?php echo $wk_imageurl ?>"></a>
			</div>
			<div class="ui-block-b"><h3><?php echo $wk_title ?></h3>
			<p><?php echo $wk_author ?></p>
			<p>Thanks: <?php echo $val["thanks_cnt"] ?></p></div>
			<div class="ui-block-c"><p>イメージスタンプ<br />
			<?php echo $wk_feeling_image ?></p></div>
			<div class="ui-block-d"><p>キーワード<br />
			<?php echo $wk_keyword ?></p></div>
		</div>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page2 -->

</body>
</html>
