<!DOCTYPE html>
<html laang="ja">
<head>
	<meta http-equiv="content-language" content="ja">
	<meta charset="utf-8">
	<title>feegle | 感覚的に書籍を検索</title>
	<meta name="description" content="feegle">
<?php @include("common/jquery.html"); ?>
</head>
<body>

<div data-role="page" id="page1" data-theme="c">
<?php @include("common/header.html"); ?>
	
	<div data-role="content">
		<div class="ui-grid-d">
			<div class="ui-block-a">
				<a href="<?php echo $wk_linkurl ?>">
				<img src="<?php echo $wk_imageurl ?>"></a>
			</div>
			<div class="ui-block-b"><h3><?php echo $wk_title ?></h3>
			<p><?php echo $wk_author ?></p>
			<p>Thanks: <?php echo $val["thanks_cnt"] ?></p></div>
			<div class="ui-block-c"><p>イメージスタンプ<br />
			<?php echo $wk_feeling_image ?></p></div>
			<div class="ui-block-d"><p>キーワード<br />
			<?php echo $wk_keyword ?></p></div>
		</div>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page1 -->

<div data-role="page" id="page2" data-theme="c">
<?php @include("common/header.html"); ?>
	
	<div data-role="content" data-theme="c">
		<p>page2!</p>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page2 -->

</body>
</html>
