<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="content-language" content="ja">
	<meta charset="utf-8">
	<title>feegle | 感覚的に書籍を検索</title>
	<meta name="description" content="feegle">
<?php @include("common/jquery.html"); ?>
</head>
<body>

<div data-role="page" id="page1" data-theme="c">
<?php @include("common/header.html"); ?>
	
	<div data-role="content" data-theme="d">
		<a href="<?php echo $wk_linkurl ?>">
		<img src="<?php echo $_SESSION["imageurl"] ?>"></a>
		<h3><?php echo $_SESSION["title"] ?></h3>
		<p><?php echo $_SESSION["author"] ?></p>
		<p>Thanks: <?php echo $_SESSION["thanks_cnt"] ?></p>
		<p>イメージスタンプ: <br />
		<?php echo $_SESSION["feeling_image"] ?></p>
		<p>キーワード: <?php echo $wk_keyword ?></p>
		<p>書評: <?php echo $_SESSION["review"] ?></p>
<?php echo $btn_mod ?>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page1 -->

<div data-role="page" id="page2" data-theme="c">
<?php @include("common/header.html"); ?>
	
	<div data-role="content" data-theme="c">
		<p>page2!</p>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page2 -->

</body>
</html>
