<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="content-language" content="ja">
	<meta charset="utf-8">
	<title>feegle | 感覚的に書籍を検索</title>
	<meta name="description" content="feegle">
<?php @include("common/jquery.html"); ?>
</head>
<body>

<div data-role="page" id="page1" data-theme="c">
<?php @include("common/header.html"); ?>
	
	<div data-role="content" data-theme="c">
		<h3><?php echo $p_nickname ?></h3>
		<p>Review: <?php echo $p_review_posts_cnt ?>　　Thanks: <?php echo $p_thanks_cnt ?></p>
		<p>KeyWord: <?php echo $wk_keyword ?></p>
		<ul data-role="listview" data-inset="true" data-theme="d">
			<li data-role="list-divider" data-theme="e">書評を登録した本</li>
<?php echo $html ?>
		</ul>
		<!-- <a rel="external" href="osusume.php" data-role="button" class="">おすすめ本登録</a> -->

	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page1 -->

<div data-role="page" id="page2" data-theme="c">
<?php @include("common/header.html"); ?>
	
	<div data-role="content" data-theme="c">
		<p>page2!</p>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page2 -->

</body>
</html>
