<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>feegle　書評を書く</title>
	<meta name="description" content="">
<?php @include("common/jquery.html"); ?>
	<script type="text/javascript" src="scripts/flipsnap.js"></script>
	<link rel="stylesheet" href="css/flipsnap10.css" />
	<script type="text/javascript">
	<!--
	$(function(){
		Flipsnap('.flipsnap');
	})
	
	function feelingsch(feeling) {
		var form = document.regform;
		form.wk.value = "f";
		form.feeling.value = feeling;
		form.action = "wreviewsch.php";
		form.submit();
	}
	//-->
	</script>
	<link rel="stylesheet" href="css/flipsnap.css" />
</head>
<body>

<div data-role="page" id="page1" data-theme="c">
<?php @include("common/header.html"); ?>
	
<?php echo $msg_info ?>
	<div data-role="content" data-theme="d">
		<p>書評を書く</p>
		<form name="regform" id="regform" method="post" action="wreview.php" class="ui-body ui-body-c">
		<div class="ui-grid-a">
			<div class="ui-block-a">
				<p>書名: <?php echo $_SESSION["title"] ?></p>
				<p>著者: <?php echo $_SESSION["author"] ?></p>
			</div><!-- /ui-block-a -->
			<div class="ui-block-b">
				<a href="<?php echo $_SESSION["detailpageurl"] ?>" target="_blank"><img src="<?php echo $_SESSION["imageurl"] ?>" /></a>
			</div><!-- /ui-block-b -->
		</div><!-- /ui-grid-a -->
		<div data-role="fieldcontain">
			<label for="review">書評</label>
			<textarea name="review" id="review" required placeholder="書評を入力して下さい"><?php echo $_SESSION["review"] ?></textarea>
		</div><!-- /fieldcontain -->
		<div data-role="fieldcontain">
			<label for="tag">タグ(カンマ区切り)</label>
			<input type="text" name="tag" id="tag" required value="<?php echo $_SESSION["tag"] ?>" maxlength="200" placeholder="タグ(複数入力時、カンマ区切り)" />
		</div><!-- /fieldcontain -->
<?php echo $html_image ?>
		<input type="submit" name="wreview" id="wreview" class="button_small grbtn" value="内容確認" />
		</form>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page1 -->

</body>
</html>
