<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>feegle　書評を書く</title>
	<meta name="description" content="">
<?php @include("common/jquery.html"); ?>
</head>
<body>

<div data-role="page" id="page1" data-theme="c">
<?php @include("common/header.html"); ?>
	
<?php echo $msg_info ?>
	<div data-role="content" data-theme="d">
		<p>書評を書く</p>
		<form name="regform" id="regform" method="post" action="wreview.php" class="ui-body ui-body-c">
		<div class="ui-grid-a">
			<div class="ui-block-a">
				<p>書名: <?php echo $arr_title[0] ?><br />
					著者: <?php echo $arr_author[0] ?></p>
			</div>
			<div class="ui-block-b"><img src="<?php echo $arr_imageurl[0] ?>" /></div>
		</div><!-- /ui-grid-a -->
		<div data-role="fieldcontain">
			<label for="review">書評</label>
			<textarea name="review" id="review" required placeholder="書評を入力して下さい"><?php echo $p_review ?></textarea>
		</div><!-- /fieldcontain -->
		<div data-role="fieldcontain">
			<label for="tag">タグ(カンマ区切り)</label>
			<input type="text" name="tag" id="tag" required value="<?php echo $p_tag ?>" maxlength="200" placeholder="タグ(複数入力時、カンマ区切り)" />
		</div><!-- /fieldcontain -->
		<div data-role="fieldcontain">
			<label for="feeling">気分</label>
			<select name="feeling" id="feeling">
				<option value="normal"<?php echo $arr_selected[0] ?>>平常</option>
				<option value="happiness"<?php echo $arr_selected[1] ?>>幸せ</option>
				<option value="interesting"<?php echo $arr_selected[2] ?>>面白い(楽しい、笑いたい)</option>
				<option value="relax"<?php echo $arr_selected[3] ?>>リラックス(癒し、ほのぼの)</option>
				<option value="surprise"<?php echo $arr_selected[4] ?>>驚き(発見)</option>
				<option value="sad"<?php echo $arr_selected[5] ?>>悲しい(泣きたい)</option>
				<option value="fear"<?php echo $arr_selected[6] ?>>恐怖</option>
				<option value="anger"<?php echo $arr_selected[7] ?>>怒り</option>
				<option value="wonder"<?php echo $arr_selected[8] ?>>不思議</option>
				<option value="thanks"<?php echo $arr_selected[9] ?>>感謝</option>
			</select>
		</div><!-- /fieldcontain -->
		<input type="submit" name="wreview" id="wreview" class="button_small grbtn" value="内容確認" />
		</form>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page1 -->

</body>
</html>
