<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>feegle　書評を書く</title>
	<meta name="description" content="">
	<meta name="author" content="">
<?php @include("common/jquery.html"); ?>
</head>
<body>

<div data-role="page" id="page1" data-theme="c">
<?php @include("common/header.html"); ?>
	
	<div data-role="content" data-theme="c">
		<p>書評対象本検索</p>
		<form name="schform" id="schform" method="post" action="wreviewsch.php" class="ui-body ui-body-c">
			<div data-role="fieldcontain">
				<label for="book_name">書名</label>
				<input type="text" name="book_name" id="book_name" autofocus value="<?php echo $p_book_name ?>" maxlength="200" placeholder="書名を入力して下さい">
			</div><!-- /fieldcontain -->
			<div data-role="fieldcontain">
				<label for="isbn">ISBN</label>
				<input type="text" name="isbn" id="isbn" value="<?php echo $p_isbn ?>" maxlength="200" placeholder="ISBNを入力して下さい" />
			</div><!-- /fieldcontain -->
			<input type="submit" name="search" id="search" class="button_small grbtn" value="検索" />
		</form>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page1 -->

</body>
</html>
