<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>feegle　書評確認</title>
	<meta name="description" content="">
<?php @include("common/jquery.html"); ?>
</head>
<body>

<div data-role="page" id="page1" data-theme="c">
<?php @include("common/header.html"); ?>
	
<?php echo $msg_info ?>
	<div data-role="content" data-theme="d">
		<p>書評確認</p>
		<form name="regform" id="regform" method="post" action="wreview.php" class="ui-body ui-body-c">
		<div class="ui-grid-a">
			<div class="ui-block-a">
				<h3>書名: <?php echo $_SESSION["title"] ?></h3>
				<h3>著者: <?php echo $_SESSION["author"] ?></h3>
			</div><!-- /ui-block-a -->
			<div class="ui-block-b"><img src="<?php echo $_SESSION["imageurl"] ?>" /></div>
		</div><!-- /ui-grid-a -->
		<div class="ui-grid-a">
			<div class="ui-block-a">
				<h3>書評: </h3>
			</div><!-- /ui-block-a -->
			<div class="ui-block-b">
				<h3><?php echo $_SESSION["review"] ?></h3>
			</div><!-- /ui-block-b -->
			<div class="ui-block-a">
				<h3>タグ: </h3>
			</div><!-- /ui-block-a -->
			<div class="ui-block-b">
				<h3><?php echo $_SESSION["tag"] ?></h3>
			</div><!-- /ui-block-b -->
		</div><!-- /ui-grid-a -->
<?php echo $html_image ?>
		<input type="hidden" name="chk" id="chk" value="ok" />
		<input type="submit" name="wreview" id="wreview" class="button_small grbtn" value="　登　録　" />
		</form>
	</div><!-- /content -->
	
<?php @include("common/footer.html"); ?>
</div><!-- /page1 -->

</body>
</html>
